*{
    box-sizing: border-box;
}
body{
    height: 500px;
    width: 100%;
    color: white;
    background-color: black;
}
body>section{
    padding: 10%;
    width: 60%;
    float: left;
    text-align: center;
}
body>section+section{
    width: 30%;
    float: left;
    padding: 0%;
}
button{
    border: 1px white solid;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    margin: 0% 5%;
    padding: 2%;
    width: 20%;
}
table{
    margin: 0% 42%;
}
th{
    padding: 0% 2%;
}

#status{
    margin: 5%;
}